<ion-header>
  <ion-navbar>
    <ion-title>หน้าแรก</ion-title>
    <ion-buttons right>
      <button ion-button menu-Toggle (click)="CardModal()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="News">
      <ion-segment-button value="Type1">
        Type1
      </ion-segment-button>
      <ion-segment-button value="Type2">
        Type2
      </ion-segment-button>
      <ion-segment-button value="Type3">
        Type3
      </ion-segment-button>
      <ion-segment-button value="Type4">
        Type4
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>



<ion-content padding>



  <div [ngSwitch]="typeCard">

    <ion-list *ngSwitchCase="Type1">
      <ion-grid>
        <ion-row>
          <ion-col col-3 *ngFor="let card of card">
            <img [src]="card" width="150px" height="150px">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="Type2">
      <ion-grid>
        <ion-row>
          <ion-col col-3 *ngFor="let card of card">
            <img [src]="card" width="150px" height="150px">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="Type3">
      <ion-grid>
        <ion-row>
          <ion-col col-3 *ngFor="let card of card">
            <img [src]="card" width="150px" height="150px">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="Type4">
      <ion-grid>
        <ion-row>
          <ion-col col-3 *ngFor="let card of card">
            <img [src]="card" width="150px" height="150px">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </div>
</ion-content>